<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Criterio de busqueda" #input>
</mat-form-field>
<table #table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Columns -->
  <ng-container *ngFor="let item of displayedColumns">
    <ng-container *ngIf="item.label" [matColumnDef]="item.label">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ item.label }} </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="item.label != 'Opciones'; else opciones">
          {{ getValueFromProperty(element, item.nameVar) }}
        </ng-container>
        <ng-template #opciones>
            <ng-container *ngFor="let option of item.options">
              <ng-container *ngIf="option.type == 'BUTTON_ICON'; else button_normal">
                <button mat-mini-fab color="option.colorButton"
                  matTooltip="{{ option.label }}" (click)="emmitEvent(element, option.action)">
                  <mat-icon>{{ option.icon }}</mat-icon>
                </button>
              </ng-container>
              <ng-template #button_normal>
                <button mat-button color="option.colorButton" (click)="emmitEvent(element, option.action)">{{ option.label }}</button>
              </ng-template>
            </ng-container>
        </ng-template>
      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="this.getColumns(); sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: this.getColumns();"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No existen datos que coincidan con: "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[15, 30, 60, 100, 200]" showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>
